<h1 id="welcome-back-">Welcome back!</h1>
<p>During SpaceBound Minds, you joined scientists in building a space station where people of all ages can keep their brains and bodies healthy. Hopefully you gained a good idea of how everyday activities can shape our mental and physical wellbeing, all while building and decorating the rooms of a model space station. </p>
<p>Now that the hard work is done, you get to enjoy your new happy place! </p>
<h2 id="sleep">Sleep</h2>
<p>Resources for sleep.</p>
<h2 id="physical-activity">Physical activity</h2>
<p>...</p>
<h2 id="social-contact">Social contact</h2>
<p>...</p>

<h2 id="thank-you">Thank you for attending our workshop!</h2>
<img width="1280" height="960" src="assets/img/SpaceboundMinds.webp">